
{% extends "layout.html" %}

{% block body %}

<div class="container" style="margin-top:50px;max-width:500px">
<form method="post">

  <div class="form-group">
    <label for="InputType" style="margin-right:50px">Cylinder Type</label>
<select class="custom-select" name="InputType" id="InputType">
<option value="" selected disabled hidden>Choose Type</option>
<option value="domestic">Domestic</option>
<option value="commercial">Commercial</option>
</select>
  </div>
 <div class="form-group">
	<label for="InputDate">Date of Delivery</label>
	<input type="text" class="form-control" id="InputDate" name="InputDate" placeholder="DD/MM/YYYY">
  </div>
  <button type="submit" class="btn">Book</button>
</form>
</div>


{% endblock %}

