
{% extends "layout.html" %}

{% block body %}

<div class="container" style="margin-top:50px;max-width:500px">
<form method="post">

  <div class="form-group">
    <label for="InputBooking" style="margin-right:50px">Booking Number</label>
<select class="custom-select" name="InputBooking" id="InputBooking">
{% for booking in bookings %}
<option value="{{ booking }}">{{ booking }}</option>
{% endfor %}
</select>
  </div>
  <button type="submit" class="btn">Cancel Booking</button>
</form>
</div>



{% endblock %}
