{% extends "layout.html" %}

{% block body %}
<div class="container" style="margin-top:50px;max-width:500px">
<form method="post">
  <div class="form-group">
    <label for="InputEmail">Email address</label>
    <input type="email" class="form-control" id="InputEmail" name="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="InputPassword">Password</label>
    <input type="password" class="form-control" id="InputPassword" name="InputPassword" placeholder="Password">
  </div>
  <button type="submit" class="btn">Submit</button>
</form>
</div>
{% endblock %}
