{% extends "layout.html" %}

{% block body %}

<div class="container" style="margin-top:50px;max-width:500px">
<form method="post" >
  <div class="form-group">
    <label for="InputEmail">Email address</label>
    <input type="email" class="form-control" id="InputEmail" name="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="InputPassword1">Password</label>
    <input type="password" class="form-control" id="InputPassword1" name="InputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="InputPassword2">Confirm Password</label>
    <input type="password" class="form-control" id="InputPassword2" name="InputPassword2" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="InputName">Name</label>
    <input type="text" class="form-control" id="InputName" name="InputName"
    placeholder="Name">
  </div>
<div class="form-group">
    <label for="InputConnection">Connection Type</label>
    <select class="custom-select" type="text" id="InputConnection" name="InputConnection"
    placeholder="Connection Type">
	    <option value="commercial">Commercial</option>
	    <option value="domestic">Domestic</option>
</select>
  </div>
 <div class="form-group">
    <label for="InputPhone">Phone</label>
    <input type="text" class="form-control" id="InputPhone" name="InputPhone"
    placeholder="Phone">
  </div>
  <div class="form-group">
    <label for="InputAddress">Address</label>
    <input type="textarea" class="form-control" id="InputAddress" name="InputAddress"
    placeholder="Address">
  </div>
  <button type="submit" class="btn">Submit</button>
</form>
</div>

{% endblock %}
