
{% extends "layout.html" %}

{% block body %}
{% if booked %}
<h3> You have {{ booked }} cylinders in booking </h3>
{% endif %}
{% if waiting %}
<h3> You have {{ waiting }} cylinders in waiting </h3>
{% endif%}

{% endblock %}
